**/.idea/
.env
.nvm

# OS Junk files
.DS_Store
Thumbs.db

# Global dependencies
node_modules/
.vscode/settings.json

# Build output
vscode-extension/dist/

# Downloaded VSCode for integration tests
vscode-extension/.vscode-test/
