#root {
  margin: 0 auto;
  text-align: center;
  --gateWidth : 20px;
  --colorBack: #2f2e2e;
  --colorFront: #1e1616;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;           /* Fill the full screen height */
  padding-left: 30px;
  padding-right: 30px;
}
/* responsible for the project manager, circuit-view and text-editor*/
.workspace-view {
  display: flex;
  flex: 2;                 /* Takes 2/3 of the height */
  width: 100%;
  gap: 1rem;               /* Space between the two divs */
}

/*responsible for the library, inspector and results-view */
.tools-view {
  flex: 1;                 /* Takes 1/3 of the height */
  width: 100%;
}

.lines {
  height: 2px;
  background-size: 100% 2px;
  background-image: linear-gradient(to right, var(--color-white) 0% 100%);
  background-position-y: center;
  background-position-x: right;
  background-repeat: no-repeat;
}

.gate, .gateDragging {
  padding: 9px 11px;
  border-radius: 4px;
  margin-top: 0;
  width: var(--gateWidth);
  display: inline-block;
  text-align: center;
  font-family: var(--font-mono), monospace;
  font-weight: bold;
  user-select: none;
  font-size: 20px;
}

.gateDragging {
  opacity: 0.4;
}

.gateHover {
  padding: 9px 11px;
  border-radius: 4px;
  margin-top: 0;
  width: var(--gateWidth);
  display: inline-block;
  text-align: center;
  font-family: var(--font-mono);
  font-weight: bold;
  user-select: none;
  font-size: 20px;
}

.availableGateContainer {
  padding: 9px 11px;
  display: flex;
  grid-auto-flow: column;
  min-width: 10px;
  min-height: 10px;
  justify-content: space-evenly;
  row-gap: 5px;
  flex-wrap: wrap;
}