@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-bg-dark: var(--bg-dark);
  --color-bg: var(--bg);
  --color-bg-light: var(--bg-light);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  --color-border: var(--border);
  --color-highlight: var(--highlight);

}

:root {
    --bg-dark: hsl(0 0% 90%);
    --bg: hsl(0 0% 80%);
    --bg-light: hsl(0 0% 70%);
    --text: hsl(0 0% 0%);
    --text-muted: hsl(0 0% 30%);
    --border: hsl(0 0 70%);
    --border-muted: hsl(300 0% 82%);
    --highlight: hsl(0 0% 50%);
    --destructive: hsl(0 50% 60%);
}

.dark{
    --bg-dark: hsl(0 0% 0%);
    --bg: hsl(0 0% 20%);
    --bg-light: hsl(0 0% 30%);
    --text: hsl(0 0% 95%);
    --text-muted: hsl(0 0% 70%);
    --border: hsl(0 0 30%);
    --border-muted: hsl(300 0% 18%);
    --highlight: hsl(0 0% 50%);
    --destructive: hsl(0 50% 40%);

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg-dark text-text;
  }
}

